<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Retrieve these values using the "Keys" blade your DocumentDB account in the Azure Mngt Portal (portal.azure.com) -->
    <add key="serviceEndpoint" value="https://mayrand.documents.azure.com:443/" />
    <add key="authKey" value="SVikVIryNV2KlxZGXYpLeige9rKulhis5f0b66dda606wehJ2CWDtvZ5GuBU7WwxkPWCaZzelawdj4YO8FJXHw==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
